@import url('https://fonts.googleapis.com/css?family=Acme|Catamaran|Darker+Grotesque|Lato|Montserrat|Poppins|Roboto&display=swap');
/* font-family: 'Darker Grotesque', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'Catamaran', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para que respete el ancho*/
}

h1, h2, h4, h5{
    color: #0E2F73;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

h2{
    font-size: 26px;
    color: #333;
}

.text{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding-top: 20px;
    font-weight: normal; /* quitar la letra negrita  */
    color: #777;
}

h4{
    margin-top: 15px;
    font-size: 16px;
}

h5{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: normal;
    padding: 10px 0;
    font-size: 12px;
}

p{
    color: #888;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.navbar{
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 10;  /* tiene mayor importancia y va al frente  */
}

.navMenu{
    text-align: right;
    padding-top: 20px;
    box-sizing: border-box;
    display: inline;
}

a.navbar-item{
    color: #F28705;
    font-size: 18px;
    text-decoration: none;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

#particles-js{
    background: url(../img/home-office.jpg);
    background-position: center;
    background-attachment: contain; /*para obligar que este dentro de los valores que le mandemos  */
    background-size: cover; /* mismo tamaño del contenedor */
    width: 100%;
}

.media-content{
    top: 200px;
    position: absolute;  /* sirve para romper el orden */
    width: 100%;
    z-index: 1;
}

.title{
    width: 80%;
    margin: auto;
}

.title p{
    /* color: #DF9AF9; */
    text-align:center; 
    color:  #8E00C6;
    font-size: 40px;
    letter-spacing: 0;
    text-shadow: -3px -3px 3px #fff, 3px -3px 3px #fff, -3px 3px 3px #fff, 3px 3px 3px #fff;
    font-family: 'Acme', sans-serif;
    font-size: 5rem;
}

.title h3{
    text-align:center; 
    color:  #8E00C6;
    font-size: 40px;
    letter-spacing: 0;
    text-shadow: -3px -3px 3px #fff, 3px -3px 3px #fff, -3px 3px 3px #fff, 3px 3px 3px #fff;
    font-size: 4rem;
    font-family: 'Acme', sans-serif;
    padding-top: 50px;
}

.wap{
    width: 90%;
    margin: auto;
    padding-bottom: 50px; 
    text-align: center;
}

.bienvenidos{
    margin-top: 50px;
    text-align: center;
}

.tile-1 {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.hero{
    /* background-color: ; */
    background: url(../img/code-js.jpg);
    background-repeat: no-repeat; /*No se repetira*/
    background-size: cover; /* imagen al 100% del ancho*/
    background-attachment: fixed; /*posicion fija para la imagen*/
    text-align: center;
    margin: auto;
}

.hero h3{
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-size: 21px;
    height: 100%;
    padding-top: 6%; /*para que las letras queden a la mitad*/
}

.contact-form {
    margin-top: 40px;
   }
   .contact-form input, .contact-form textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #aaaaaa;
    padding: 12px;
    color: #999999;
    margin-bottom: 30px;
   }
   .contact-form input:focus, .contact-form textarea:focus {
    outline: 0;
   }
   .contact-form .button {
    width: auto;
    background: #eaaaa0;
    color: white;
    text-transform: uppercase;
    border: 0;
   }


@media screen and (max-width: 480px){
    .title p{
        /* color: #DF9AF9; */
        text-align:center; 
        color:  #8E00C6;
        font-size: 40px;
        letter-spacing: 0;
        text-shadow: -3px -3px 3px #fff, 3px -3px 3px #fff, -3px 3px 3px #fff, 3px 3px 3px #fff;
        font-family: 'Acme', sans-serif;
        font-size: 3rem;
    }
    
    .title h3{
        text-align:center; 
        color:  #8E00C6;
        font-size: 40px;
        letter-spacing: 0;
        text-shadow: -3px -3px 3px #fff, 3px -3px 3px #fff, -3px 3px 3px #fff, 3px 3px 3px #fff;
        font-size: 2rem;
        font-family: 'Acme', sans-serif;
        padding-top: 50px;
    }
}



/* @media screen and (min-width: 481px) and (max-width: 1023px) {
    
    .title p{
        color: #DD1653;
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
    }
    
    .title h3{
        color: #DD1653;
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        padding-top: 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .title p{
        color: #DD1653;
        font-family: 'Montserrat', sans-serif;
        font-size: 5rem;
    }
    
    .title h3{
        color: #DD1653;
        font-size: 3rem;
        font-family: 'Poppins', sans-serif;
        padding-top: 10px;
    }
} */